/*  
COMMENTAIRE 
*/
.flex-row-space-betwenn {
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}

.red {
    color:brown; 
}

ul {
    list-style: none; 
    gap: 1em /* ca ca veut dire 60 pixel de taille pour la list */
}

li {
    display: flex; 
    flex-direction: row;
    align-items: center; /* centrer sur l'axe secondaire */
}
h1 {
    font-family: "space Gotesk";
}

h2 {
    color :chocolate;
}

h2:hover{
    transition: color 3s; 
    color:cornflowerblue;
}

